<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SISRE Reservas UNAL</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Oswald|Raleway" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Belgrano|Crimson+Text" rel="stylesheet">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/style.css">
</head>
<body>
<!--   .................................................................................  -->
<!--	<header>
		<div class="container">
			<div class="col-xs-2">
			</div>
			<div class="navigation row">
			<div class="col-xs-12 col-sm-3 col-md-2">
					<img src="/assets/logo.png" width="150px">
			</div>
			<div class="col-xs-12 col-sm-3 col-md-4">
				<ul >
					<li> Bienestar  </li>
					<li> UNAL </li>
				</ul>
			</div>
		</div>
    </div>
	</br>
	</br>
	</header>-->

	<div class="header-2">
		<div class="container">
			<div class="navigation-2 row">
				<div class="col-xs-1">
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
						<h2> UN Espacio para Todos</h2>
						<p>
							Este sitio esta pensado para que puedas tener una experiencia
							mas agradable a la hora de poder reservar espacios y asi poder difrutar
							al maximo la Universidad.
						</p>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-4">
					<!--<form action="" class="formulario">
						<div class="form-group">
							<input class="form-control" id="usuario" type="text" placeholder="usuario" >
						</div>
						</br>
						<div class="form-group">
							<input class="form-control" id="contraseña" type="password" placeholder="contraseña" >
						</div>

					</form>-->
					
				</div>
    </div>
		</div>
	</br>
	</br>
</div>

<!--   .................................................................................  -->
	<div class="container">
			<div class="content-box">

				</br>
				</br>

				<div class="content-header row">
				</div>

				</br>
				</br>

				<div class="content-body row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<p> Este sistema porvee una herramienta para toda la cominudad universitaria, que facilita la
							solicitud para prestamo de espacios.</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<img src="/assets/reserva.png" >
					</div>
				</div>

				</br>
				</br>
				<div class = "search row">

				</div>

				</br>
				</br>

			</div>
		</div>

	</br>
	</br>
<!--<div >
	<footer>
		<div class="container">
				  <div class = "final-page ">
				    <div class = "final-page-header">
				      <img src="/assets/unLogo.png" / width="200px">
				    </div>

				    <div class = "final-page-body">
				      <p> <b> S.I.S.R.E.</b> <br/>
				         Univeridad Nacional de Colombia <br />
				         Facultad de Ingenieria <br />
				         Ingenieria de Sistemas y Computacion <br />
				         Ingenieria de Software I  <br />
				       </p>
				    </div>
				  </div>
		</div>
	</footer>
</div>
-->
	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>
