body {

  overflow: scroll;
  text-align: center;
}
header{
  background: rgba(0, 26, 26, 1.0);
  background-image: url("./camino.png");
}
.header-2{
  background: rgba(47, 79, 79, 1.0);
  background-image: url("./camino.png");
}

footer{
  background: rgba(0, 26, 26, 1.0);
}

.navigation {
  height: 80px;
  text-align: center;
  position: relative;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
}

.navigation-2 {
  text-align: center;
  height: 150px;
  position: relative;
  left: 0;
  top: auto;
  z-index: 999;
  width: 100%;
}

.navigation-2 h2{
  font-family: 'Josefin Sans';
  color: #ffffff;
  font-size: 50px;
  text-align: left;
  margin: 50px;
}

.navigation-2 p{
  font-family: 'Josefin Sans';
  color: #ffffff;
  font-weight: 50px;
  margin: 50px;

}

.navigation ul {
  padding: 0;
}

.navigation li {
  color: #ffffff;
  display: inline-block;
  font-family: 'Crimson Text', sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 30px;
  text-transform: uppercase;

}

/** Right side styling **/

.content-box {
  background: rgba(255, 255, 255, 0.9);
  height: 1000px;
  margin: 0 auto;
  position: relative;
  top: 20px;
  width: 80%;
}

.content-header {
  background-image: url("./un.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  top: 0px;
  height: 320px;
}

.content-body {
  margin: 0 auto;
  width: 90%;
}

.search{
  background-image: url("./buscar.jpg") ;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 0px;
  height: 320px;
}

.final-page{
  background: rgba(47, 79, 79, 1);
  background-image: url("./camino.png");
  background-position: left;
  height: 220px;
  margin: 0 auto;
  position: relative;
  top: 20px;
  width: 100%;
}


.final-page p {
  color: #001a1a;
  text-align: left;
  font-family: 'Crimson Text', sans-serif;
  font-size: 11px;
  line-height: 15px;
  font-weight: 150px;
  margin: 20px;
}

.final-page-header{
  background: rgba(0, 26, 26, 1);
  background-position: center;
  background-size: 100px;
  position: relative;
  height: 100px;
  width: 100%;
}

.final-page-body{
    margin: 20px;
}

h1 {
  background: #05A8AA;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  text-transform: uppercase;
  top: 130px;
  width: 70%;
}
.formulario{
  margin: 70px;
}
/*
h2 {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}
*/
h3 {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}

p {
  color: #000000;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 34px;
  min-width: 200px;
  max-width: 800px;
  min-height: 100px;
  max-height: 200px;
}
